<!DOCTYPE html>
<html>
<head>
    <title>{{ title }} - {{ blog_title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">

    <meta property="og:title" content="{{ title }} - {{ blog_title }}" />
    <meta property="og:description" content="{{ subtitle }}" />
    <meta property="og:image" content="/img/bg.png" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Inconsolata:wght@200..900&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="{{ base_path }}/css/style.css">
</head>

<body id="{{ slug }}">
    <main>
        <header>
            <h1>{{ blog_title }}</h1>

            <nav>
                <a href="/">index</a>
                <a href="https://mayshmallow.moe" target="_blank">bsky</a>
            </nav>
        </header>

        {{ content }}

        <footer>made using <a href="https://github.com/sunainapai/makesite" target="_blank">makesite</a> ✨</footer>
    </main>
</body>
</html>
